data/1_trajectories/*.txt
data/2_training_datasets/*.pt
data/3_testing_datasets/*.pt
data/4_models/*.model
data/4_models/epochs_10/*.model
data/4_models/epochs_20/*.model
data/4_models/epochs_30/*.model
data/4_models/epochs_5_phlstm/*.model
data/4_models/epochs_10_phlstm/*.model
data/4_models/phlstm_32_5/*.model
data/4_models/phlstm_32_5_v2/*.model
data/4_models/phlstm_32_10/*.model
data/4_models/phlstm_32_10_v2/*.model
data/4_models/*.model
data/4_models/*model_perf.txt
*.pyc
*.out
*.pt
*.zip
src/_playground_model_physics.py
src/myarray.txt
src/myarray2.txt
src/inference_physics_lstm.txt
src/inference_gatsbiv1.txt
